<!-- A SAMPLE PROGRAM WINDOW TO CLONE -->
<div id="{{taskID}}" class="bx-window" ng-attr-style="top: {{top}}px; left: {{left}}px">
	<div class="window-title">
		<img class="window-icon" src="img/24by24.png" alt="goltu icon" />
		<span class="title">{{app.name}}</span>
		<span class="window-btns">
			<i class="fa fa-window-minimize window-minimize" ng-click="minimizeWindow($event, taskID)"></i>
			<i class="fa fa-window-restore window-restore"></i>
			<i class="fa fa-window-maximize window-maximize"></i>
			<i class="fa fa-window-close window-close" ng-click="closeApp($event)"></i>
		</span>
	</div>

	<div class="window-body">					
	</div>
</div>